mat-toolbar {
    background: #C9C9C9;
    height: 50px;
}

img {
    padding: 0px;
    height: 30px;
    width: 35px;
}

ul li {
    list-style: none;
    display: inline;
    text-transform: uppercase;
}

ul li a {
    padding: 6px 10px;
    display: inline-block;
    background-color: #C9C9C9;
    color: #333;
    text-decoration: none;
    border-bottom: 3px solid #C9C9C9;
}

ul li a:hover {
    background-color: #EDEDED;
    color: #6D6D6D;
    border-bottom: 3px solid #EA0000;
}

ul li a.active {
    background-color: #EDEDED;
    color: #6D6D6D;
    border-bottom: 3px solid #EA0000;
}

input {
    position: relative;
    display: inline-block;
    font-size: 15px;
    font-size: border-box;
}

input[type="text"] {
    background: #fff;
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    padding: 0 15px;
    border-radius: 25px 0 0 25px;
}

input[type="submit"] {
    position: relative;
    border-radius: 0 25px 25px 0;
    height: 40px;
    width: 70px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #ffC107;
}

input[type="submit"]:hover {
    background: #ff5722;
}

.exemple-space {
    width: 100px;
}

.menu {
    cursor: pointer;
}
